@model WebStore.Models.Product

@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <h2 class="mb-4">@Model.Name</h2>
  
    <div class="card">
        <div class="row">
            <div class="col">
                <img class="card-img" src="@Model.ImageSource" />
            </div>
            <div class="col">
                <div class="card-body">
                    <h5 class="card-title">Description:</h5>
                    <p class="card-text">@Model.Description</p>

                    <h5 class="card-title">Price:</h5>
                    <div class="alert alert-primary" role="alert">
                        <h4 class="alert-heading">$@Math.Round(Model.Price, 2)</h4>
                    </div>

                    <h5 class="card-title">Category:</h5>
                    <span class="card-text">@Model.Category.Name</span>
                    <hr />

                    @if (Model.DisplayComments)
                    {
                        @if (User.Identity.IsAuthenticated)
                        {
                            <form asp-action="CreateComment" method="post">
                                <div class="form-group">
                                    <label class="control-label">Write a comment:</label>
                                    <textarea class="form-control" rows="3" style="resize: none" name="CommentText"></textarea>
                                    <input type="hidden" name="ProductId" value="@Model.Id">
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Post" class="btn btn-primary" />
                                </div>
                            </form>
                        }

                        <h5 class="card-title mt-4">Comments:</h5>
                        <div class="container">
                            <div class="row">
                                @foreach (Comment comment in (ViewBag.Comments as IEnumerable<Comment>).Reverse())
                                {
                                    <div class="media col-12 m-1">
                                        <div class="media-body">
                                            <h6 class="mt-0">@comment.User.UserName</h6>
                                            @comment.CommentText
                                        </div>
                                    </div>
                                    <hr />
                                }
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="alert alert-warning mt-4" role="alert">
                            Comments for this product are disabled.
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</div>
